body {
  background-color: slategrey;
  color: #fff;
  font-family: 'Helvetica';
}
.todo-component {
  max-width: 400px;
}
.inputData {
  display: flex;
}
.inputData input {
  max-width: 30px;
}
.inputData > div {
  max-width: 25px;
}
.inputData input, .inputData span, .inputData div {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex: 1
}
